<div class="step-content step-10-extras">
    <h2 class="step-title">{{localize "DAEMON_WIZARD.Steps.Extras"}}</h2>
    <p class="step-description">
        {{localize "DAEMON_WIZARD.Extras.Description"}}
    </p>

    <div class="form-group">
        <label for="char-extras">{{localize "DAEMON_WIZARD.Extras.Label"}}</label>
        <textarea id="char-extras" name="extras" rows="12" placeholder="Descreva aqui quaisquer poderes ou habilidades especiais que o seu personagem possa ter, como magia, poderes psíquicos, mutações, etc. Estes devem ser aprovados pelo Mestre.">{{wizardData.extras}}</textarea>
    </div>
</div>
